{% extends "user/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="center-wrapper">
<div class="card">
    <h2>Reset Password</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm" placeholder="Confirm Password" required>

        <button type="submit">Reset Password</button>
    </form>
</div></div>
{% endblock %}
